<div class="row"style="margin-top: 10vh; padding-left: 2vw;">
<div class="container">
        <h3 style="font-weight: 300; color: teal;">Incluir Reserva</h3>
</div>
</div>
<div class="row" style="margin-top: 5vh;">
    <div class="container">
            <md-content layout-padding style="background-color: white;">
                    <form name="projectForm">
                
                      <md-input-container class="md-block">
                        <label>Nome da reserva</label>
                        <input required name="nomeReserva" ng-model="ctrl.cadastro.nome">
                      </md-input-container>
                
                      <div layout="row">
                        <md-input-container flex="40" style="margin-right: 10px;">
                                <label>Tamanho</label>
                                <input required name="tamanhoReserva" pattern="^[\d,.?!]+$" ng-model="ctrl.cadastro.tamanho">
                                <div ng-messages="projectForm.clientName.$error">
                                        <div ng-message="required">Campo obrigatório</div>
                                </div>
                              </md-input-container>
                              <md-input-container flex="40" >
                                  <md-select required ng-model="ctrl.cadastro.tipo" placeholder="Tipo reserva" ng-change="ctrl.testao()">
                                    <md-option ng-value="x" ng-repeat="x in ctrl.tipoReservasBr">{{ x }}</md-option>
                                  </md-select>
                                </md-input-container>
                                <md-input-container flex="20" style="margin-left: 10px;">
                                    <md-select required ng-model="ctrl.cadastro.local" placeholder="UF">
                                        <md-option ng-value="x.nome" ng-repeat="x in ctrl.ufBrasil">{{ x.nome }}</md-option>
                                      </md-select>
                                </md-input-container>
                      </div>
                
                      <md-input-container class="md-block">
                          <md-select required ng-model="ctrl.cadastro.saude" placeholder="Saúde da reserva" ng-change="ctrl.testao()">
                              <md-option ng-value="x.id" ng-repeat="x in ctrl.saudeReserva">{{ x.id }} - {{x.descricao}}</md-option>
                            </md-select>
                          </md-input-container>
                    </form>
                  </md-content>
                  <div style="float: right;">
                      <button class="btn" type="submit" ng-click="ctrl.finalizarCadastro()">Submit</button>
                      <button class="btn" type="submit" ng-click="ctrl.finalizarCadastro()">Submit</button>
                    </div>
    </div>
</div>